<section class="section-box-2">
    <div class="container">
      <div class="banner-hero banner-single banner-single-bg">
        <div class="block-banner text-center">
          <h3 class="wow animate__animated animate__fadeInUp"><span class="color-brand-2">22 Jobs</span> Available Now</h3>
          <div class="font-sm color-text-paragraph-2 mt-10 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, <br class="d-none d-xl-block">atque delectus molestias quis?</div>
          <div class="form-find text-start mt-40 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
            <form>
              <div class="box-industry">
                <select class="form-input mr-10 select-active input-industry">
                  <option value="0">Job Type</option>
                  <option value="1">On-Site</option>
                  <option value="2">Remote</option>
                  <option value="3">Hybrid</option>
                </select>
              </div>
              <select class="form-input mr-10 select-active">
                <option value="">Location</option>
                <option value="HYD">Hyderabad, Telangana</option>
                <option value="CHN">Chennai</option>
                <option value="MUM">Mumbai</option>
                <option value="NOI">Noida</option>
                <option value="DEL">Delhi</option>
                <option value="BEN">Bengaluru</option>
              </select>
              <input class="form-input input-keysearch mr-10" type="text" placeholder="Your keyword... ">
              <button class="btn btn-default btn-find font-sm">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>