<main class="main">
    <!-- Search comonent Start-->
    <app-search></app-search>
     <!-- Search comonent End-->
    <section class="section-box mt-30">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9 col-md-12 col-sm-12 col-12 float-right">
                     <!-- List of jobs comonent Start-->
                    <app-jobs-list></app-jobs-list>
                     <!-- List of jobs comonent End-->
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                     <!-- Jobs Filer comonent Start-->
                    <app-jobs-filter></app-jobs-filter>
                     <!-- Jobs Filter comonent Start-->
                </div>
            </div>
        </div>
    </section>
</main>