<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <link rel="manifest" href="manifest.json" crossorigin>
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/template/favicon.svg">
    <link href="/assets/css/style.css?version=4.1" rel="stylesheet">
    <title>Jobbox - Job Portal HTML Template </title>
  </head>
  <body>
    <main class="main">
      <section class="pt-100 login-register">
        <div class="container"> 
          <div class="row login-register-cover">
            <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
              <div class="text-center">                       
                <p class="font-sm text-brand-2">Forgot Password</p>
                <h2 class="mt-10 mb-5 text-brand-1">Reset Your Password</h2>
                <p class="font-sm text-muted mb-30">
                   Enter email address associated with your account and 
                  we'll send you a link to reset your password
                </p>
              </div>
              <form class="login-register text-start mt-20" action="#" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label class="form-label" for="input-1">Email address *</label>
                  <input class="form-control" id="input-1" type="text" formControlName="email" name="emaill" placeholder="stevenjob@gmail.com" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                  <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                    <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-brand-1 hover-up w-100" type="submit" name="continue">Continue</button>
                </div>
                <div class="text-muted text-center">Don't have an Account? <a href="register">Sign up</a></div>
              </form>
            </div>
            <div class="img-1 d-none d-lg-block"><img class="shape-1" src="assets/imgs/page/login-register/img-5.svg" alt="JobBox"></div>
            <div class="img-2"><img src="assets/imgs/page/login-register/img-3.svg" alt="JobBox"></div>
          </div>
        </div>
      </section>
    </main>
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/main.js?v=4.1"></script>
  </body>
</html>
