.direction.right{
    background: url("./assets/imgs/slider/swiper/next.svg") no-repeat 0px 0px !important;
    top:20px !important;
    right:-90px !important
}
.direction.left{
    background: url("./assets/imgs/slider/swiper/prev.svg") no-repeat 0px 0px !important;
    top:20px !important;
    left:-65px !important
}