    <main class="main">
      <div class="bg-homepage1"></div>
      <!-- Carousel-->
      <app-carousel></app-carousel>
      <!-- Browse by category Section-->
      <app-browse-by-category></app-browse-by-category>
      <!-- Latest Jobs Section-->
      <app-latest-job></app-latest-job>
      <section class="section-box overflow-visible mt-100 mb-100">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="box-image-job"><img class="img-job-1" alt="jobBox" src="assets/imgs/page/homepage1/img-chart.png"><img class="img-job-2" alt="jobBox" src="assets/imgs/page/homepage1/controlcard.png">
                <figure class="wow animate__animated animate__fadeIn"><img alt="jobBox" src="assets/imgs/page/homepage1/img1.png"></figure>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="content-job-inner"><span class="color-text-mutted text-32">Millions Of Jobs. </span>
                <h2 class="text-52 wow animate__animated animate__fadeInUp">Find The One That&rsquo;s <span class="color-brand-2">Right</span> For You</h2>
                <div class="mt-40 pr-50 text-md-lh28 wow animate__animated animate__fadeInUp">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 600,000 companies worldwide. The right job is out there.</div>
                <div class="mt-40">
                  <div class="wow animate__animated animate__fadeInUp"><a class="btn btn-default" href="jobs.html">Search Jobs</a><a class="btn btn-link" href="about.html">Learn More</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script src="assets/js/plugins/counterup.js"></script>
    </main>

